/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1rem;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #ffffff;
  text-shadow: none;
}

::selection {
  background: #ffffff;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* GENERAL STYLES */

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  transition: background 0.2s linear;
}

/* Dark Mode */

  .dark-mode body,
  .dark-mode .nav-list,
  .dark-mode footer,
  .dark-mode .toggle-button .label,
  .dark-mode  {
    background-color: #0c1a35;
  }
  
  .dark-mode h1,
  .dark-mode h2,
  .dark-mode h3,
  .dark-mode h4,
  .dark-mode nav .nav-icon,
  .dark-mode nav span,
  .dark-mode .fa-moon,
  .dark-mode .fa-sun {
    color: #d7cfc0;
  }
 
  .dark-mode footer span {
    color: #17B794;
  }

  .dark-mode p {
    color: #a4a096;
  }

  .dark-mode img {
    filter: brightness(0.80) contrast(1.1);
  }


  .dark-mode header #contact-link,
  .dark-mode .project-link {
    background-color: #17B794;
  }

  .dark-mode header,
  .dark-mode #projects,
  .dark-mode #contact,
  .dark-mode .skills-wrapper p,
  .dark-mode .tools-wrapper p {
    background-color: #2B4865;
  }

  .dark-mode .skills-wrapper p,
  .dark-mode .tools-wrapper p,
  .dark-mode #contact .contact-info a {
    color: #d7cfc0;
  }

  .dark-mode .label {
    border: 1px solid #d7cfc0;
  }
  
  .dark-mode .label .ball {
    background-color: #d7cfc0;
  }

  .dark-mode #contact .contact-info i,
  .dark-mode #contact .social-icons li i {
    color: #17B794;
  }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 1.9rem;
  font-weight: 300;
  font-family: 'Cardo', serif;
  text-transform: uppercase;
}

h2 {
  font-size: 1.7rem;
  font-family: 'Cardo', serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
}

h3 {
  font-size: 1.7rem;
  font-family: 'Cardo', serif;
  width: 100%;
}


h4 {
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  width: 100%;
}

p {
  font-size: 1.15rem;
  font-weight: 300;
  width: 100%;
}

header #contact-link {
  text-align: center;
  font-size: .9rem;
  color: #01285d;
  border: none;
  background-color: pink;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 15px;
  padding: 8px 18px;
}

footer {
  color: #222;
  background-color: white;
  padding-bottom: 55px;
  text-align: center;
}

/* STRUCTURAL STYLES */

#projects,
#skills,
#contact, 
footer {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#about {
  padding: 30px 0 60px;
}

#skills,
#contact {
  padding: 0 0 60px;
}

#about .content-wrapper,
#projects .content-wrapper {
  width: 85%;
  margin: 0 auto;
}

img {
  width: 100%;
}

figure {
  margin: 0;
  width: 100%;
}


h2 {
  padding: 60px 0;
  margin: 0;
}


/* ------------------------ Base Header-Footer Styles --------------------- */
 
/* Header Styles */

header {
  background-color: #01285d;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

header .content-wrapper {
  padding: 10px 0 100px;
}


/* Navigation */

.nav-container {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.nav-list {
  background-color: #01285d;
  position: fixed;
  bottom: 0;
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: auto;
  z-index: 1;
}

.nav-item {
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  
}

.nav-link {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
}

.nav-icon {
  font-size: 1.1rem;
}

/* Dark Mode Toggle */

.toggle-button {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}


.label {
  background-color: #01285d;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  height: 18px;
  width: 40px;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  height: 22px;
  width: 22px;
  transform: translateX(-2px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(20px);
}

.fa-moon,
.fa-sun {
  color: white;
}


header .name-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-top: 50px;
}

header .name-title h1 {
  letter-spacing: .1rem;
  margin-bottom: 10px;
}

header .name-title h4 {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 0;
  padding: 0 70px;
}



/* Footer Styles */

footer {
  background-color: #01285d;
  color: white;
  line-height: 1.8rem;
}

footer p {
  font-size: 0.95rem;
}

footer span {
  color: pink;
}

/* ------------------------ Mobile Styles - Homepage --------------------- */



/* About Section */

#about {
  width: 100%;
}

#about .about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#about .about-icons {
  display: none;
}

#profile-image {
  padding-bottom: 20px;
}

.about-me h3,
.about-me h4 {
  font-weight: 400;
  text-align: center;
}

#about span {
  font-weight: bold;
}

/* Projects Section */

#projects {
  display: flex;
  flex-flow: row wrap;
  border-top: .8px solid #01285d;
  border-bottom: .8px solid #01285d;
}

.project-piece {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

#projects img {
  height: auto;
  object-fit: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#projects .project-description {
  padding-bottom: 16px;
}

#projects .project-piece p {
  margin: 2px;
}

#projects .project-piece span {
  font-weight: bold;
}

.project-link {
  text-align: center;
  color: #01285d;
  background-color: #ffc0cb;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 1rem;
  padding: 10px 36px;
  margin-top: 30px;
}


/* Skills Section */

#skills {
  text-align: center;
}

#skills h2 {
  padding-bottom: 0;
}

#skills h4 {
  font-size: 1.3rem;
  padding: 20px 0;
}

.skills-wrapper p,
.tools-wrapper p {
  font-size: 1rem;
  color: white;
  background-color: #01285d;
  padding: 17px 5px;
  margin: 20px 0;
}

.skill,
.tool {
  text-transform: uppercase;
  font-weight: 400;
}

.tool {
  width: 100%;
}





/* Contact Section */

#contact {
  background-color: #e2f8f7;
  text-align: center;
}

#contact .content-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#contact h4 {
  font-size: 1.35rem;
  margin-top: 0;
}

#contact .contact-info ul {
  padding: 10px 0;
}

#contact .contact-info a {
  color: #222;
  font-size: 1.2rem;
}

#contact .contact-info i {
  color: #01285d;
}

#contact .social-media {
  padding-top: 50px;
}

#contact .social-icons {
  display: flex;
  justify-content: space-around;
}

.social-icons li {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact .social-icons li i {
  font-size: 2.5rem;
  color: #01285d;
}

.contact-form {
  display: none;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports that meet the condition */

  .content-wrapper {
    max-width: 640px;
  }

  header .content-wrapper {
    padding: 130px 0 130px 0;
  }

  #about figure {
    width: 60%;
  }

  #about .about-icons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  
  #about .me-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  #about li {
    padding: 15px;
  }

  #about .me-icons li i {
    font-size: 2.2rem;
    color: pink;
  }

  #about .me-icons li span {
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding-top: 13px;
  }

 

  .projects-wrapper {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;

  }

  .project-piece {
    width: 75%;
    align-items: center;
  }

  .skills-wrapper,
  .tools-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    width: 100%;
  }

  .skills-wrapper p,
  .tools-wrapper p {
    font-weight: 300;
    padding: 20px 5px;
    margin: 10px 0;
  }

  .skill,
  .tool {
    width: 45%;
  }

  #contact .social-icons li {
    width: 85px;
  }
  
}



@media only screen and (min-width: 1025px) {

  .content-wrapper {
    max-width: 1450px;
  }

  
  #projects .content-wrapper {
    width: 85%;
    margin: 0 auto;
  }

  #projects h2,
  #contact h2 {
    font-size: 2.3rem;
    padding: 130px 0;
    font-weight: 500;
  }

  header .content-wrapper {
    padding: 330px 0 350px 0;
  }

  /*header nav ul {
    font-size: 1.1rem;
    margin: 0;
    padding-bottom: 2px;
  }

  header nav ul li {
    font-family: 'Montserrat', sans-serif;
  }

  nav ul li a {
    position: relative;
    color: white;
  }

  nav ul li a:hover {
    color: white;
  }

  nav ul li a::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  nav ul li a:hover::before {
    transform: scaleX(1);
  }
  */


  .nav-list {
    position: absolute;
    top: 0;
    width: 65%;
    padding-top: 10px;
  }

  .nav-item .home,
  .nav-item .contact-item {
    display: none;
  }

  .nav-item .nav-icon {
    display: none;
  }

  .nav-item span {
    font-size: 1.05rem;
    transition-duration: 0.4s;
  }

  .nav-item span:hover {
    color:pink;
    transform: scale(1.2);
  }

  header .name-title h1 {
    font-size: 2.8rem;
    letter-spacing: .2rem;
    font-weight: 500;
  }
  
  header .name-title h4 {
    font-size: 1.4rem;
    padding-bottom: 50px;
  }
  
  header #contact-link {
    border-radius: 15px;
    padding: 10px 36px;
    font-size: 1.2rem;
    transition-duration: 0.4s;
  }

  header #contact-link:hover {
    background-color: #fe99aa;
    transform: scale(1.1);
  }

  footer {
   padding: 30px;
  }

  footer p {
    font-size: 1.1rem;
    line-height: 1.8em;
  }



  #about {
    padding: 130px 0;
    display: flex;
    justify-content: center;
  }

  #about .content-wrapper {
    width: 95%;
    margin: 0 auto;
  }
  

  #about figure {
    width: 43%;
  }

  #about #profile-image {
    padding: 0;
  }

  #about .about-me {
    width: 45%;
    padding-left: 80px;
  }

  #about .about-me h3 {
    font-size: 2.1rem;
    padding: 50px 0 25px;
    margin: 0;
  }

  #about .about-me h4 {
    font-size: 1.3rem;
    text-align: left;
    padding-bottom: 15px;
  }

  #about .about-me p {
    margin: 25px 0;
  }

  #about .about-icons {
    display: flex;
    justify-content: center;
    padding-top: 25px;
  }
  
  #about .me-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  
  #about li {
    padding: 35px;
  }

  #about .me-icons li i {
    font-size: 2.2rem;
    color: #ffc0cb;
  }

  #about .me-icons li span {
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding-top: 13px;
  }


  #projects {
    border: 0;
    background-color: #f5f5f5;
  }

  /*#projects:before { 
    content: "";
    width: 70%;
    border-top: 1.5px solid #01285d;
  }

  #projects:after { 
    content: "";
    width: 70%;
    border-bottom: 1.5px solid #01285d;
  }
*/
 

  #projects .project-piece {
    align-items: center;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 150px;
  }


  #projects .project-piece h4 {
    font-size: 1.4rem;
    padding-top: 50px;
  }

  #projects .project-piece .project-link {
    transition-duration: 0.4s;
    margin-top: 55px; 
  }
  
  .project-link:hover {
    background-color: #fe99aa;
    transform: scale(1.1);
  }



  #skills .content-wrapper {
    width: 65%;
    margin: 0 auto;
  }
  
  .skills-wrapper p,
  .tools-wrapper p {
    font-size: 1rem;
    letter-spacing: .04rem;
    font-weight: 300;
    padding: 20px 5px;
    margin: 10px 0;
    width: 30%;
  }

  #skills h2 {
    font-size: 2.3rem;
    font-weight: 500;
    padding-top: 130px;
  }

  #skills h4 {
    font-size: 1.45rem;
  }

  .skill:hover,
  .tool:hover {
    transform: scale(1.05);
  }

  .tools-wrapper {
    padding-bottom: 70px;
  }

  #contact  .content-wrapper {
    width: 90%;
    display: flex;
    align-items: flex-start;
  }

  #contact h2 {
    padding-bottom: px;
  }


  .contact-wrapper {
    width: 50%;
    text-align: left;
  }

  #contact h4 {
    font-size: 1.7rem;
    text-align: left;
  }

  #contact .contact-info {
    padding-top: 30px;
  }

  #contact .contact-info ul {
    display: flex;
    flex-flow: row wrap;
  }

  #contact .contact-info li {
    padding-right: 20px;  }

  #contact .contact-info a {
    font-size: 1.3rem;
  }

  #contact .social-icons li {
    width: 100px;
    height: 100px;
  }

  #contact .social-icons li i {
    font-size: 3.2rem;
  }

  .contact-form {
    display: block;
    width: 35%;
    padding-bottom: 70px;
  }
  
  #contact #mc_embed_signup {
    padding: 5px;
  }


  #contact input.button {
    background-color: pink;
    color: #01285d;
    font-weight: bold;
    border-radius: 15px;
    margin: auto;
    display: block;
  }

  #contact input.button:hover {
    background-color: #fe99aa;
    transform: scale(1.1);
  }


}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}