/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #ffffff;
  text-shadow: none;
}

::selection {
  background: #ffffff;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */

body {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2em;
  font-weight: 300;
}

h2 {
  font-size: 2em;
  font-family: 'Cardo', serif;
  text-align: center;
}

h3 {
  font-size: 1.8em;
  font-family: 'Cardo', serif;
}


h4 {
  font-size: 1.5em;
  font-family: 'Cardo', serif;
}

p {
  font-size: 1em;
  font-weight: 300;
}

.content-wrapper {
  width: 86%;
  margin: 10px auto;
}

/* ------------------------ Base Header-Footer Styles --------------------- */
 
/* Header Styles */

header, 
footer {
  background-color: #01285d;
  color: white;
  text-align: center;
  padding: 10px 0 70px 0;
  margin: 0;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
}

/* Navigation */

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 75%; 
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

header li {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

header .name-title h1 {
  font-family: 'Cardo', serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 50px 0 0;
  margin-bottom: 15px;
}

header .name-title h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  padding: 0 34px 34px;
  margin-top: 0;
}

header button {
  display: flex;
  align-items: center;
  background-color: pink;
  border: none;
  border-radius: 15px;
  color: #01285d;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: .9em;
  font-weight: bold;
  padding: 8px 18px;
  text-transform: uppercase;
  transition-duration: 0.4s;
}

button:hover {
  background-color: rgb(254, 153, 170)
}

/* Footer Styles */

footer {
  line-height: 2em;
  padding: 16px;
}

footer span {
  color: pink;
}

/* ------------------------ Mobile Styles - Homepage --------------------- */

/* About Section */

.about .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.about-wrapper figure {
  width: 100%;
  margin: 0;
  padding-top: 40px;
}

.about img {
  width: 100%; 
  padding-bottom: 20px;
}

.about-me h3 {
  font-weight: 400;
  text-align: center;
}

.about-me h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  text-align: center;
}

.about-me span {
  font-weight: 500;
}

/* Projects Section */

.projects .projects-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.projects .projects-header {
  margin-bottom: 55px;
}

.projects .project-piece {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding-bottom: 55px;
}

.projects figure {
  width: 100%;
  margin: 0;
}

.projects img {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: drop-shadow(0 0 0.75rem	#d3d3d3);
  
}


.projects .project-description {
  padding-bottom: 16px;
}

.projects .project-piece p {
  margin: 0;
}

.projects .project-piece span {
  font-weight: bold;
}

.projects button {
  background-color: pink;
  border: none;
  border-radius: 15px;
  color: #01285d;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding: 14px 40px;
  margin-top: 30px;
  text-transform: uppercase;
  transition-duration: 0.4s;
}

.projects button:hover {
  background-color: rgb(254, 153, 170)
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

